NODE_ENV=development
RABBITMQ_URL=amqp://rabbitmq:5672

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tahsin.ferdous3546@gmail.com
SMTP_PASS=dxwfvkhdpbzuoxfs
EMAIL_FROM=tahsin.ferdous3546@gmail.com